*{
    margin: 0px;
    padding: 0px;
}
/* CSS Variables */
:root{
    --navbar-height: 60px;
}
/* Navigation bar */
#navbar {
    display: flex;
align-items: center;
}
/* Navigation bar Logo and Image */
#logo{

}
#logo img{
    
}
/* Navigation bar List Styling */